@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body class="w3-content" style="max-width:1300px">

    <!-- First Grid: Logo & About -->
    <div class="w3-row">
        <div class="w3-half w3-container w3-center" style="height:700px; background-color: darkslategrey">
            <div class="w3-padding-64" style="font-size:24px">
                <span id="text-container"></span><span class="custom-cursor" id="cursor">|</span>
            </div>
                <img src="/anka.jpg" alt="Your Image" class="round-image">
            <div class="rolling-content">
                <h3 style="color:darkkhaki; margin-top:-3px; margin-bottom:-15px;">________</h3>
                <p style="margin-top: 29px; color:bisque">.NET Fullstack Developer student </p>
                <p style="margin-top:1rem; color:bisque">Based in Stockholm Sweden.</p>
           </div>
        </div>
            <div class="w3-half w3-container" style="height:700px; background-color: darkkhaki">
                <div class="w3-padding-64 w3-center">
                <div class="rolling-content" style="margin-top:10%">
                    <h2 style="color: darkslategrey;">About Me</h2>
                    <div class="w3-left-align w3-padding-large">
                        <p style="margin-bottom: -5px; margin-top:20px;">Hi, my name is Lawe and I live in a suburb in south of Stockholm named Hökarängen with my mom, dad, and one year younger brother</p>
                        <div style="color:darkslategrey; font-size:30px; margin-bottom:20px;" class="w3-center w3">_____________</div>
                        <p>I am currently studying to become a .Net full-stack developer with a focus on the backend at KYH-Yrkeshögskola. My passion for coding is within the backend because I like to make things work, but of course, a great UI is a must for good applications.</p>
                    </div>
                    <div class="frame">
                        
                        <button id="scrollButton" class="custom-btn btn-5" onclick="scrollDown('contact')"><span><a class="transparent-nav-item" style="color: white; " onmouseover="this.style.color='darkslategrey';" onmouseout="this.style.color='white';">Let's Talk!</a></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Second Grid: Work & Resume -->
    <div class="w3-row">
        <div class="w3-half w3-center" style="min-height:800px; background-color: darkgoldenrod" id="work">
            <div class="w3-padding-64">
                <h2 style="color: white;">My Work</h2>
            </div>
            <div style="font-size:20px; margin-top:-70px; margin-bottom:30px; color:#36454F;">____________</div>
            <div class="item-row">
                @foreach (var item in @Model.PortfolioItems)
                {
                    <div class="portfolio-item">
                        <div class="image-wrapper">
                            <img src="@item.ImageUrl" alt="Project Image">
                            <div class="overlay">
                                <div class="details">
                                    <h3>@item.Title</h3>
                                    <p>@item.Description</p>
                                    <a href="@item.GitHub">View Project</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="w3-half w3-container" style="min-height:800px; background-color:#36454F ">
            <div class="w3-padding-64 w3-center">
                <h2 style="color: #FFFFFF;">Skills</h2>
                <div style="font-size:20px; margin-top:-0px; margin-bottom:0px; color:black;">____________</div>
                <h4 style="color:darkgoldenrod">Backend</h4>
                <section>
                    <div class="row w3-center">
                        <div class="icon-container">
                            <i class="devicon devicon-csharp-plain colored"></i>
                            <p>Basic</p>
                        </div>

                        <div class="icon-container">
                            <i class="devicon devicon-dotnetcore-plain colored"></i>
                            <p>Basic</p>
                        </div>
                        <div class="icon-container">
                            <i class="devicon devicon-nodejs-plain colored"></i>
                            <p>Basic</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row w3-center">
                        <div class="row w3-center">
                            <div class="icon-container">
                                <i class="devicon devicon-heroku-plain-wordmark colored"></i>
                                <p>Basic</p>
                            </div>

                            <div class="icon-container">
                                <i class="devicon devicon-microsoftsqlserver-plain-wordmark"></i>
                                <p>Basic</p>
                        </div>@*
                            <div class="icon-container">
                            <i class="devicon devicon-express-original-wordmark colored"></i>
                            <p>Basic</p>*@
                            @*</div>*@
                        </div>
                        </div>
                </section>
                <h4 style="color: darkgoldenrod">Frontend</h4>
                <section>
                    <div class="row">
                        <div class="icon-container">
                            <i class="devicon devicon-html5-plain colored"></i>
                            <p>Basic</p>
                        </div>

                        <div class="icon-container">
                            <i class="devicon devicon-css3-plain colored"></i>
                            <p>Basic</p>
                        </div>
                        <div class="icon-container">
                            <i class="devicon devicon-javascript-plain colored"></i>
                            <p>Basic</p>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="row">
                        <div class="icon-container" style="width: -50px;">
                            <i class="devicon devicon-bootstrap-plain colored"></i>
                            <p>Basic</p>
                        </div>
                    </div>
                </section>


                </div>
            </div>
            </div>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- Third Grid: Swing By & Contact -->
    <div class="w3-row" id="contact">
        <div class="w3-half w3-container w3-center" style="height: 700px; background-color: #800080;">
            <div class="w3-padding-64">
                <h1 style="color: #FFFFFF;">Know more</h1>
            </div>
            <div class="w3-padding-10">
                <div style="display: flex; align-items: center; justify-content: center; margin-bottom: 20px;">
                    <a href="mailto:test@test.com" class="social-link" style="margin-right: 20px;">
                        <i class="far fa-envelope fa-2x"></i>
                    </a>
                    <a href="https://www.linkedin.com/" target="_blank" class="social-link" style="margin-right: 20px;">
                        <i class="fab fa-linkedin fa-2x"></i>
                    </a>
                    <a href="https://github.com/" target="_blank" class="social-link">
                        <i class="fab fa-github fa-2x"></i>
                    </a>
                </div>
                <div class="light-background">
                    <a href="" class="btn-slide" download>
                        <span class="circle" style="position:center"><i class="fa fa-download"></i></span>
                        <span class="title">Download </span>
                        <span class="title-hover"> CV</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="w3-half w3-container" style="height:700px; background-color: #006766 ">
            <div class="w3-padding-64 w3-padding-large">
                <h1 style="color: #FFFFFF;">Contact</h1>
                <p class="w3-opacity" style="color: #D0D0D0;">GET IN TOUCH</p>
                <form class="w3-container w3-card w3-padding-32 w3-white" action="/action_page.php" target="_blank" >
                    <div class="w3-section">
                        <label style="color: #D0D0D0;">Name</label>
                        <input class="w3-input" style="width:100%;" type="text" required name="Name" id="name" onkeyup=validateName(event)>
                        <span id="nameError" style="color: red;"></span>
                    </div>
                    <div class="w3-section">
                        <label style="color: #D0D0D0;">Email</label>
                        <input class="w3-input" style="width:100%;" type="text" required name="Email" id="email" onkeyup=validateEmail(event)>
                        <span id="emailError" style="color: red;"></span>
                    </div>
                    <div class="w3-section">
                        <label style="color: #D0D0D0;">Message</label>
                        <input class="w3-input" style="width:100%;" type="text" required name="Message" id="message" onkeyup=validateMessage(event)>
                        <span id="messageError" style="color: red;"></span>
                    </div>
                    <button type="submit" class="w3-button w3-teal w3-right">Send</button>
                </form>
            </div>
        </div>
        </div>


    <!-- Footer -->
    <footer class="w3-black w3-padding-64 w3-text-grey w3-xlarge">
        <div style="margin-left: 40px">
            <a href="#" class="fa fa-linkedin w3-hover-opacity"></a>
            <a href="#" class="fa fa-github w3-hover-opacity"></a>
            <a href="mailto:your@email.com" class="fa fa-envelope w3-hover-opacity"></a>
            <p class="w3-medium">Temperature: <span id="temperature"></span>@Model.Temprature C</p>
            <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
        </div>
    </footer>


    <nav id="navigation">
        <a class="transparent-nav-item" href="#"><i class="fa-regular fa-house"></i></a>
        <a class="transparent-nav-item" href="#work"><i class="fa-solid fa-code"></i></a>
        <a class="transparent-nav-item" href="#contact"><i class="fa-regular fa-message-middle"></i></a>
    </nav>
</body>

    <style>

    </style>
     <script>
    const validateName = (event) => {
        const regEx = /^[a-zA-Z -]+$/;

        if (!regEx.test(event.target.value)) {
            document.getElementById("nameError").innerText = "Ange ett riktigt namn";
        }
        else {
            document.getElementById("nameError").innerText = "";
        }
    }

    const validateEmail = (event) => {


    if (event.target.value=="") {
            document.getElementById("emailError").innerText = "Ange en e-post address";
    }
    else {
            document.getElementById("emailError").innerText = "";
    }
}
    const validateMessage= (event) => {


        if (event.target.value == "") {
            document.getElementById("messageError").innerText = "Ange ett meddelande tack";
        }
        else {
            document.getElementById("messageError").innerText = "";
        }
    }
     </script>